@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

.container{
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  background-color: rgba(128, 128, 128, 0.219);
  border: 1px solid grey;
}

.buttons{
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: auto;
  align-items: center;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
}

/* footer  */
.footer {
  font-family: 'Quicksand', sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.253);
  color: black;
  text-align: center;
}

.heart{
  color: red;
}

.github{
  text-decoration: none;
}

.gwoc{
  color: tomato;
}




