@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Quicksand', sans-serif; 
    top: 0; left: 0; bottom: 0; right: 0;
    
}

.buttons{
    background-color: white;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    font-weight: 600;
}

.buttons button{
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    /* border: 1px solid black; */
    margin-top: 15px;
}

.row{
    display: flex;
    flex-direction: row;
}

.card{
    width: 250px;
    border: 1px solid rgba(128, 128, 128, 0.486);
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.card img{
    margin-top: 10px;
    margin-bottom: 5px;
}

.name{
    font-size: 18px;
}

#all{
    color: white;
    background-color: black;
}

#blackcontent{
    display: none;
}
#greycontent{
    display: none;
}

/* footer  */

.footer {
    font-family: 'Quicksand', sans-serif;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.253);
    color: black;
    text-align: center;
  }

.heart{
    color: red;
}

.github{
    text-decoration: none;
}

.gwoc{
    color: tomato;
}