@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}
/* This is the styling for the Main App (Vue Instance)*/
#app{
    background-color: #a1c4d0;
    height: 100vh;
}
#app h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}
.app-body{
 display: grid;
 grid-template-columns: auto auto auto;
 margin: 20px;
}


/* This is styling for the intro component*/

.card {
    height: 350px;
    width: 280px;
    background-color: gainsboro;
    margin: 10px;
    border-radius: 10px 10px;
    box-shadow: 20px 20px 35px rgba(0,0,0,0.5);
}
.card-header {
    padding: 10px 20px;
    text-align: center;
}
.card-header img{
    border-radius: 50%;
    height: 200px;
    width: 200px; 
}
.card-body{
    padding: 5px;
    font-family: 'Poppins', sans-serif;
}
.card-body p{
    font-size: 15px;
}